<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha384-rzO3uU4HR61G7LkEhLY7Ppieh7LlEQBMEHxYBZBMTFUx3S+kWMIbJiSRE0V21JwW" crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section layout:fragment="body" class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">TodoList</h1>
                    <p class="lead fw-normal text-muted mb-0">Create your Tasks Here</p>
                </div>
                <!-- Todo Create Form -->
                <div class="container">
                    <form class="row g-3" role="form" method="post" th:action="@{/todos/new}" th:object="${todo}">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Title" name="title"
                                th:field="*{title}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Content</label>
                            <input type="text" class="form-control" id="content" placeholder="Content" name="content"
                                th:field="*{content}">
                        </div>
                        <div class="text-center" >
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
                <!-- Todo List Form -->
                <!-- comment -->
                <div class="row gx-5 border-top-10">
                    <div th:each="todo : ${todos}" class="col-lg-6 mb-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title" th:text="${todo.title}"></h2>
                                <p class="card-text" th:text="${todo.content}"></p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-light" th:href="@{/todos/{id}/edit(id=${todo.id})}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-light" th:href="@{/todos/delete/{id}(id=${todo.id})}">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>
