<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <th:block th:fragment="dashboard">
      <div class="row">
        <div class="col-md-4 border border-primary">
          <div class="container text-center">
            <h3>Todays expenses</h3>
            <ul style="list-style: none">
              <div th:each="expense : ${expensesData}">
                <li>
                  <span th:text="${expense.category}"></span>
                  <span th:text="${expense.expense}"></span>
                  <span th:text="${expense.amount}"></span>
                </li>
              </div>
            </ul>
            <p th:text="${totalExpense}"></p>
          </div>

          <div class="container text-center">
            <form
              class="row g-3"
              role="form"
              method="post"
              th:action="@{/expenses/add}"
              th:object="${expenseForm}"
            >
              <div class="row">
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    id="category"
                    placeholder="Category"
                    name="category"
                    th:field="*{category}"
                  />
                </div>
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    id="expense"
                    placeholder="Expense"
                    name="expense"
                    th:field="*{expense}"
                  />
                </div>
                <div class="col-md-4">
                  <input
                    type="number"
                    class="form-control"
                    id="amount"
                    placeholder="Amount"
                    name="amount"
                    th:field="*{amount}"
                  />
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-4 border border-info">
          <div class="text-center">
            <form th:action="@{/expenses/month}" method="post">
              <label for="month">Select month:</label>

              <select id="month" name="month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>

              <button type="submit">View Report</button>
            </form>
          </div>

          <div
            class="container d-flex align-items-center justify-content-center"
          >
            <div class="text-center p-4">
              <table>
                <th>
                  <tr>
                    <td>Category</td>
                    <td>Ammount</td>
                  </tr>
                </th>
                <tr th:each="expense : ${expenses}">
                  <td th:text="${expense[0]}"></td>
                  <td th:text="${expense[1]}"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4 border border-warning">
          <div
            class="container-fluid d-flex align-items-center justify-content-center"
          >
            <div class="text-center p-4">
              <h1 class="display-4">Coming Soon!</h1>
              <p class="lead">
                We're working on something awesome. Stay tuned!
              </p>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>
