<!DOCTYPE html>
<html lang="en" 
xmlns:th="https://thymeleaf.org"
xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}" >

<head>
    <title>Club Detail</title>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section layout:fragment="body" class="py-5">
            <!-- Display Club Details -->
            <div class="container">
                <h2>Club Details</h2>
                <dl class="row">
                    <dt class="col-sm-3">Title:</dt>
                    <dd class="col-sm-9" th:text="${club.title}"></dd>
                    
                    <img class="img-fluid rounded-3 mb-3" th:src="${club.photoUrl}" alt="..." />
                    
                    <dt class="col-sm-3">Content:</dt>
                    <dd class="col-sm-9" th:text="${club.content}"></dd>
                    
                    <dt class="col-sm-3">Created On:</dt>
                    <dd class="col-sm-9" th:text="${club.createdOn}"></dd>
                    
                    <dt class="col-sm-3">Last Updated:</dt>
                    <dd class="col-sm-9" th:text="${club.updatedOn}"></dd>
                    <a class="btn btn-primary" th:href="@{/clubs}">Return</a>
                </dl>
            </div>
            
        </section>
    </main>
</body>

</html>
